# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

/backend/

/app/studio/

/app/test.py
/app/translate.py
/app/translation.py
/app/translated_output.txt.env
