# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log


.env

backend-env
EMBED_MODEL_API="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"
MODEL_API="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"
RERANKER_MODEL_API = "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"
