fastapi==0.118.0
uvicorn==0.35.0
PyMuPDF==1.26.3
langchain_core==0.3.75
langchain_nvidia_ai_endpoints==0.3.18
langgraph==0.6.7
nlpcloud==1.1.47
numpy==2.3.2
openai==1.100.2
pyspellchecker==0.8.3
python-dotenv==1.1.1
rapidfuzz==3.14.0
requests==2.32.5
scikit_learn==1.7.1
symspellpy==6.9.0
tqdm==4.67.1
weaviate==0.1.2
weaviate_client==4.16.9
